<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto.Model.Properties.Settings.teste01ConnectionString"
            connectionString="Data Source=mybase.cqp0xehsexp2.sa-east-1.rds.amazonaws.com;Initial Catalog=teste01;Persist Security Info=True;User ID=Master;Password=Wal03&amp;12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>